<div class="running-condtion-section">

  <!-- left-side-section start-->
  <div class="left-section">
    <h3>Running Conditions</h3>
    <p>Online the parameter for estimation</p>
    <div class="btn-section">
      <div class="left-btn">
        <button type="button" class="btn primary">Cold</button>
        <button type="button" class="btn primary">Mild</button>
        <button type="button" class="btn primary">Hot</button>
      </div>
      <div class="right-btn hide">
        <button type="button" class="btn primary"> <img src="../../assets/Images/reset-icon.png" alt="reset-icon">Rest</button>
        <button type="button" class="btn primary next-btn"><img src="../../assets/Images/arrow-right.png" alt="arrow-icon"> Next</button>
      </div>
    </div>

    <div class="input-feild">
      <div class="col input-1">
        <label for="exampleFormControlSelect1">Daily runnig hours</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1hr</option>
          <option>2hrs</option>
          <option>3hrs</option>
          <option>4hrs</option>
          <option>5hrs</option>
        </select>
      </div>
      <div class="col input-2">
        <label for="exampleFormControlSelect1">Quilty Purity</label>
        <input class="form-control" type="text" placeholder="Default input" />
      </div>

      <div class="col input-2">
        <label for="exampleFormControlSelect1"></label>
        <input class="form-control" type="text" placeholder="Default input" />
      </div>
    </div>
    <div class="Progress-bar-section">
      <div class="wrapper">
        <div class="input-wrapper">
          <label for="customRange1" class="form-label"
            >Ambiont temperature</label
          >
          <div class="range-bar">
            <div class="range-slider">
              <div class="range-group">
                <input
                  class="range-input"
                  id="location-range-slider"
                  value="1"
                  min="1"
                  max="4"
                  type="range"
                />
              </div>
            </div>
            <div class="filter level-filter level-req">
              <div id="rangeSlider" class="range-slider">
                <div class="number-group">
                  <input
                    class="number-input"
                    type="number"
                    value="10"
                    min="0"
                    max="50"
                  />
                  to
                  <input
                    class="number-input"
                    type="number"
                    value="50"
                    min="0"
                    max="50"
                  />
                </div>
              </div>
            </div>
         
          </div>
        </div>
        <div class="input-wrapper-2">
          <input class="form-control" type="text" placeholder="150" />
          <label for="customRange1" class="form-label-last hide">C</label>
        </div>
      </div>
    </div>
    <div class="Progress-bar-section">
      <div class="wrapper">
        <div class="input-wrapper">
          <label for="customRange1" class="form-label"
            >Ambient relative humidity</label
          >
          <div class="range-bar">
            <div class="range-slider">
              <div class="range-group">
                <input
                  class="range-input"
                  id="location-range-slider"
                  value="1"
                  min="1"
                  max="4"
                  type="range"
                />
              </div>
            </div>
            <div class="filter level-filter level-req">
              <div id="rangeSlider" class="range-slider">
                <div class="number-group">
                  <input
                    class="number-input"
                    type="number"
                    value="10"
                    min="0"
                    max="50"
                  />
                  to
                  <input
                    class="number-input"
                    type="number"
                    value="50"
                    min="0"
                    max="50"
                  />
                </div>
              </div>
            </div>
       
          </div>
        </div>
        <div class="input-wrapper-2">
          <input class="form-control" type="text" placeholder="150" />
          <label for="customRange1" class="form-label-last hide">C</label>
        </div>
      </div>
    </div>
    <div class="Progress-bar-section last-section">
      <div class="wrapper">
        <div class="input-wrapper">
          <label for="customRange1" class="form-label"
            >Ambiont Pressure</label
          >
          <div class="range-bar">
            <div class="range-slider">
              <div class="range-group">
                <input
                  class="range-input"
                  id="location-range-slider"
                  value="1"
                  min="1"
                  max="4"
                  type="range"
                />
              </div>
            </div>
            <div class="filter level-filter level-req">
              <div id="rangeSlider" class="range-slider">
                <div class="number-group">
                  <input
                    class="number-input"
                    type="number"
                    value="10"
                    min="0"
                    max="50"
                  />
                  to
                  <input
                    class="number-input"
                    type="number"
                    value="50"
                    min="0"
                    max="50"
                  />
                </div>
              </div>
            </div>
           
          </div>
        </div>
        <div class="input-wrapper-2">
          <input class="form-control" type="text" placeholder="150" />
          <label for="customRange1" class="form-label-last hide">C</label>
        </div>
      </div>
    </div>
     <div class=" show">
    <div class="right-btn">
      <button type="button" class="btn primary"> <img src="../../assets/Images/reset-icon.png" alt="reset-icon">Reset</button>
      <button type="button" class="btn primary next-btn"><img src="../../assets/Images/arrow-right.png" alt="arrow-icon"> Next</button>
    </div>
  </div>
  </div>
    <!-- left-side-section end-->


    
  <!-- right-side-section start-->
  <div class="right-section">
    <div class="heading">
      <div class="description">
        <h4>Result</h4>
        <p>Required model for carryour of 10ppm </p>
        <h2>OSCI250 Organoclay</h2>
      </div>
      <div class="file-download"></div>
      
  </div>

  <div class="input-section">
    <h5>Input</h5>
   <div class="discription">
  <p>Ambient Tempreature</p>
  <p>Ambient Relative Humidity</p>
  <p>Ambient Pressure</p>
   </div>
   <div class="value">
    <p>25 C</p>
    <p>62%</p>
    <p>3 Type</p>
   </div>
  </div>

  <div class="output-table">
    <h5>Output</h5>
    <table class="table">
      <thead>
        <tr class="border-none">
          <th scope="col">Machine</th>
          <th scope="col"  class=" text-right">Work Freqency</th>
          <th scope="col"  class=" text-right">Working Hours</th>
        </tr>
      </thead>
      <tbody class="text-left">
        <tr  >
          <td>Mark</td>
          <td >500</td>
          <td>60</td>
        </tr>
        <tr>
      
          <td>Jacob</td>
          <td>500</td>
          <td>30</td>
        </tr>
        <tr>
    
          <td>Larry</td>
          <td>500</td>
          <td>80</td>
        </tr>
        <tr class="table-light">
          <td >Total</td>
          <td >1500</td>
          <td >180</td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
  <!-- right-side-section end-->

</div>



